/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
:root {
  --white-color: #fff;
  --red-color: #DB1313;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}
body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
}
body.dark {
  background-color: #333;
}
body.dark {
  --white-color: #333;
  --red-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 25px;
  font-weight: 550;
  color: var(--red-color) ;
}
.navbar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}
/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 18%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dahsboard::before {
  content: "Dashboard";
}
.menu_menu::before {
  content: "Menu";
}
.menu_setting::before {
  content: "Setting";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--blue-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 18%;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}


.sidebar.close ~ .form-container{
  left: calc(80px + 30px);
 }
 
.form-container.dark{
  background-color: #333;
  color: #fff !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
/* landing */
.img_home{
  width: 360px;
  height: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#landing{
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
}

.btn{
  padding: 17px 83px;
  margin-top: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #FFF;
  color: #DB1313;
  text-align: center;
  font-family: Manrope;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  
}

.btn:hover{
  background: #DB1313;
  color: #FFF;
}


h1{
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info{
  text-align: center;
  padding: 10px;
}


@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}


/* button */

.btn-cancel{
  padding: 9px 70px;
  margin-top: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #FFF;
  color: #DB1313;
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  
}

.btn-save{
  padding: 9px 70px;
  margin-top: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #DB1313;
  color: #ffffff;
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  
}

.btn-save:hover{
  background: #bb1010;
  color: #fff ;
}
.btn-cancel:hover{
  background: #e9e9e9;
  color: #bb1010;
}


/***********************/
/****** DASHBOARD *****/
/***********************/


/* Bg gradient */
.bg-gradient-green {background-image: linear-gradient(to right, #184f36 ,rgb(43 173 71));}
.bg-gradient-blue {background-image: linear-gradient(to right, #0091ea , #40c4ff);}
.bg-gradient-orange {background-image: linear-gradient(to right, #f57f17 , #fbc02d );}
.bg-gradient-red {background-image: linear-gradient(to right, #c62828 , #e53935 );}
.bg-gradient-purple {background-image: linear-gradient(to right, #6a1b9a , #9c27b0 );}
.bg-gradient-pink {background-image: linear-gradient(to right, #ad1457 , #d81b60 );}
.bg-gradient-cyan {background-image: linear-gradient(to right, #006064 , #00acc1 );}
.bg-gradient-brown {background-image: linear-gradient(to right, #4e342e , #795548 );}
.bg-gradient-grey {background-image: linear-gradient(to right, #424242 , #616161 );}
.bg-gradient-white {background-image: linear-gradient(to right, #f1f1f1 , #ffffff );}

/* Row */
.row {margin-bottom: 0;}

/* Side Nav */
.sidenav .titulo {height: 64px; background-color: #c51162;}
.sidenav h5 {font-size: 2rem; font-weight: 300;  color: #fff;  padding: 16px 0; margin: 0;}
.sidenav li a {color: #333; text-transform: uppercase; font-weight: 400;}
.sidenav li a i {color: #333 !important;}

/* Container */
/* .container {width: 90%;} */

/* Media Screen */
@media only screen and (max-width: 600px) {
    .info article {margin-bottom: 20px;}
}

/* Chip */
.chip {font-weight: 400; font-size: 1rem;}

/* Info */
.info {padding: 10px 0;}
.info article {padding: 20px; border-radius: 10px;}
.new {padding: 9px!important; border-radius: 10px;}
.info article i {color: #fff; font-size: 1.5rem;}
.info article p {color: #fff; font-size: 0.9rem; text-transform: uppercase; margin: 0;}
.info article h3 {color: #fff; font-size: 1.5rem; font-weight: 700; text-transform: uppercase; margin: 0 0 2px 0;}

/* Gráficos */
.graficos {padding:20px;}
.grafico {padding: 20px; border-radius: 10px;}
.grafico h5 {font-size: 1rem; text-transform: uppercase; font-weight: 500; color: #333; }

/* Crud */
.crud .titulo  {margin-top: 20px; padding: 12px 0;} 
.crud .titulo h1 {font-size: 2rem;  text-transform: uppercase; font-weight: 900; color: #333; margin: 0; }
.crud .titulo p {font-size: 1rem;   font-weight: 500; color: #333; margin: 0 0 20px 0; }
.crud .registros {padding: 20px;}
.crud .registros table img {width: 60px; margin-left: 10px;}
.black-text{ color: #333!important;}
/* Pagination */
.pagination {padding: 20px 0;}

.new-btn{
  padding: 9px!important;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: #fff; 
  font-size: 1rem; 
  font-weight: 400; 
  text-transform: uppercase; 
  margin: 0 0 2px 0;
  margin-bottom: 23px;
}

.new-btn i{
  margin-right: 7px;
}


.card-menu {
  max-width: 100px !important;
  padding: 20px;
  border-radius: 10px !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  margin: 0.5rem 0 1rem 0;
}

.comparativo-loja {
  display: block; /* Inicialmente visível */
}

.comparativo-vendedores {
  display: none; /* Inicialmente invisível */
}

